<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/admindash.css">
    <title>Admin Dashboard - Add Book</title>
</head>
<body>

<div class="container">

    <!-- Left image -->
    <div class="left">
        <img src="/images/libraryimage.jpg" alt="Library Image">
    </div>

    <!-- Right popup form -->
    <div class="right">
        <h1>Create Book Detail</h1>

        <form action="/admin-dashboard/add-book" method="post" class="form-table">
            <table>
                <tr>
                    <td><label for="bookID">Book ID:</label></td>
                    <td><input type="number" name="bookID" id="bookID" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="title">Title:</label></td>
                    <td><input type="text" name="title" id="title" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="authors">Authors:</label></td>
                    <td><input type="text" name="authors" id="authors" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="average_rating">Average Rating:</label></td>
                    <td><input type="number" step="0.01" name="average_rating" id="average_rating" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="ratings_count">Ratings Count:</label></td>
                    <td><input type="number" name="ratings_count" id="ratings_count" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="text_reviews_count">Text Reviews Count:</label></td>
                    <td><input type="number" name="text_reviews_count" id="text_reviews_count" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="publication_date">Publication Date:</label></td>
                    <td><input type="text" name="publication_date" id="publication_date" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="publisher">Publisher:</label></td>
                    <td><input type="text" name="publisher" id="publisher" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Add Book</button></td>
                </tr>
            </table>
        </form>

        <p><a href="/logout">Logout</a></p>
    </div>

</div>

</body>
</html>
