
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Member Login</title>
</head>
<body>

<div class="container">
    <div class="left">
        <img class="library-image" src="/images/libraryimage.jpg" alt="Library Image">
    </div>
    <div class="right">
        <div class="content-box">
            <h1>Library  Home</h1>
            <div class="links">
                <a href="/register">Sign-up for Member User</a>
                <a href="/login">Member Login</a>
                <a href="/admin">Administrator Login</a>
            </div>
        </div>
    </div>
</div> 
</body>
</html>
 