body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}


.left {
    background-color: #f0f0f0; /* A light background for the image side */
}

.library-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the image cover the entire div without distortion */
}

.right {
    flex: 5;
    background-color: #f5e9d7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 70%;
    max-width: 320px;
}

.content-box h1 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #333;
    padding: 0px 10px; /* Y = 6, X = 12 */
}
.links a {
    display: block;
    background-color: #c49b6a;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #a67c52;;
}